{require_otp_vsn, "17|18|19|20"}.

{erl_opts, [debug_info,
	    {i, "./include"}
	   ]}.

{eunit_opts, [verbose]}.

{deps, [
	{gb_conf, ".*", {git, "https://github.com/pundunlabs/gb_conf.git",{branch, "master"}}},
	{gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{branch, "master"}}},
	{scramerl, ".*", {git, "https://github.com/pundunlabs/scramerl.git",{branch, "master"}}}
    ]}.

{pre_hooks, [
    {compile, "git clone https://github.com/erdemaksu/apollo.git"},
    {compile, "erlc -o ./src/ apollo/*.asn1"}
    ]
}.
