{require_otp_vsn, "^(1[8-9]|[2-9]\d)"}.

{erl_opts, [debug_info,
	    {i, "./include"},
	    {i, "./include/gpb"}
	   ]}.

{eunit_opts, [verbose]}.

{deps, [
	{gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{branch, "master"}}},
	{scramerl, ".*", {git, "https://github.com/pundunlabs/scramerl.git",{branch, "master"}}}
    ]}.

{plugins,
    [
    rebar3_gpb_plugin
    ]}.

{gpb_opts,
    [
     {i, "include/apollo"},
     {module_name_suffix, "_pb"},
     {o_erl, "src"},
     {o_hrl, "include"},
     {strings_as_binaries, false},
     type_specs
    ]
}.

{provider_hooks, [
     {pre, [{erlc_compile, {protobuf, compile}},
     {clean, {protobuf, clean}}]}
    ]
}.

{pre_hooks, [
	     {compile, "./pre_compile.sh"}
	    ]
}.
