{require_otp_vsn, "^(1[8-9]|[2-9]\d)"}.

{erl_opts, [debug_info,
	    {i, "./include"},
	    {i, "./_build/default/plugins/gpb/include"}
	   ]}.

{eunit_opts, [verbose]}.

{deps, [
	{gb_log, ".*", {git, "https://github.com/pundunlabs/gb_log.git",{branch, "master"}}},
	{scramerl, ".*", {git, "https://github.com/pundunlabs/scramerl.git",{branch, "master"}}}
    ]}.

{plugins,
    [
    {rebar3_gpb_plugin, {git, "https://github.com/pundunlabs/rebar3_gpb_plugin.git", {branch, "develop"}}}
    ]}.

{gpb_opts,
    [
     {proto_url, {"https://raw.githubusercontent.com/pundunlabs/apollo/v1.0.7/apollo.proto", "include/apollo"}},
     {i, "include/apollo"},
     {module_name_suffix, "_pb"},
     {o_erl, "src"},
     {o_hrl, "include"},
     {strings_as_binaries, false},
     maps,
     {maps_unset_optional, present_undefined}
    ]
}.

{provider_hooks, [
     {pre, [{erlc_compile, {protobuf, compile}},
     {clean, {protobuf, clean}}]}
    ]
}.

{pre_hooks, []}.
